body {
    background-color: rgb(34, 30, 81);
}

.flex-container {
    border-radius: 5%;
    justify-content: center;
    display: flex;
    height: 60px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    width: 350px;
    background-color: rgb(162, 182, 254);
}

.box {
    border-radius: 8%;
    width: 70px;
    height: 40px;
    background-color: rgb(111, 55, 255);
    color: rgb(111, 55, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 5px;
    border: 2px solid rgb(255, 255, 255);
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-arond {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}